
$subColor: #006666;
$mainColor: #CC5500;

$subSecondColor: #66B2B2;
$mainSecondColor: #FA8004;

$subColorBtn: #D7ECEC;
$mainColorBtn: #FFE0CA;

$mainBasicColor: #000000;
$subBasicColor: #fff;

$activeLink: #006666;



