@import "./colors.scss";

.center{
    display:flex;
    height:100vh;
    justify-content:center;
    flex-direction:column;
}

.img{
    width: 100%;
}


.background{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #F2E6DF;
}

.heightBackground{
    height: 70%;
}

.heightbackgroundRegister{
    height: 90%;
}
.verticalCenter{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // height: 20%;
    margin: auto;
}

.height{
    height: 20%;
}

.heightLogin{
    height: 40%;
}

.heightRegister{
    height: 60%;
}

.btnCenter{
    text-align: center;
}

.btn{
    background-color: $mainColor;
    color: $subBasicColor;
    width: 30%;
    padding: 1rem 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1rem 0;
}

.form{
    width: 65%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btnLogin{
    background-color: $mainColor;
    color: $subBasicColor;
    width: 40%;
    padding: 1rem 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem;
    border: transparent
}

.input{
    width: 70%;
    background-color: transparent;
    border: 1px solid $mainColor;
    border-radius: 7px;
    height: 2.5rem;
    margin-left: 2rem;
}

.iconColor {
    color: $mainColor;
    font-size: x-large;
}

.lineHeight{
    margin-bottom: 2rem;
}

.titleLogin{
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
}

.errors{
    color: red;
    
}

.spaceErrors{
    margin-top: 2rem;
    text-align: center;
}

.termBtn{
    background-color: transparent;
    border: none;
    color: $mainColor;
    // margin-left: 0.2rem;
    text-decoration: underline;
}
